<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Blood Bank Monitoring</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-3.4.1-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Datatable/datatables.min.css')}}">
</head>
<body>
{% include 'includes/_navbar.html' %}
<div class="container">
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
</div>

</body>
<script src="{{url_for('static', filename='Datatable/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-3.4.1-dist/js/bootstrap.min.js')}}"></script>
<script>
  $(document).ready( function () {
    $('#example').DataTable({
        lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
        "serverSide": true,
        "ajax": {  url: "donor/api",
        "data": function (d) {   delete d.columns; },
        },
    });
} );
</script>

</html>


